<h3 class="center">Click on a GIF to generate a music recommendation ... </h3>

<div>
    @using (Html.BeginForm("Search", "Search", FormMethod.Post))
    {
        <div class="form-group center">
            <div class="row">
                <div class="col-lg-4 col-sm-12 img__wrap">
                    <input type="radio" name="artist"
                           id="Markus2" class="input-hidden" value="Markus Krunegård" checked="checked" />
                    <label for="Markus2">
                        <img class="img__img" src="~/images/krunegard.gif" />
                        <label class="img__description">Markus Krunegård</label>
                    </label>
                </div>
                <div class="col-lg-4 col-sm-12 img__wrap">
                    <input type="radio" name="artist"
                           id="beyonce" class="input-hidden" value="Beyonce" />
                    <label for="beyonce">
                        <img class="img__img" src="~/images/beyonce.gif" />
                        <label class="img__description">Beyonce</label>
                    </label>
                </div>
                <div class="col-lg-4 col-sm-12 img__wrap">
                    <input type="radio" name="artist"
                           id="jayz" class="input-hidden" value="Jay-Z" />
                    <label for="jayz">
                        <img class="img__img" src="~/images/jayzupdown.webp" />
                        <label class="img__description">Jay-Z</label>
                    </label>
                </div>
            </div>
            <div class="col-lg-12 center">
                <input type="submit" class="btn-btn-default generate-btn" value="GENERATE" id="submit" />
               </div>
        </div>
    }
</div>

<div>
    @using (Html.BeginForm("Random", "Search", FormMethod.Post))
    {
        <div class="form-group">
            <div class="row lucky-row">
                <div class="col-lg-12 center img__wrap">
                    <input type="submit" class="input-hidden" id="lucky" />
                    <label for="lucky">
                        <img class="img__img" src="~/images/lucky.gif" />
                        <label class="img__description">I feel lucky!</label>
                    </label>
                </div>
            </div>
        </div>
    }
</div>
